{% extends 'base.html' %}
{% block content  %}
<main class="vh-100 bg-body-tertiary">
    <div class="container m-auto mt-5 row gap-2 justify-content-center">
        <h1 class="d-flex justify-content-center mb-10">Computers</h1>
        <div class="card col-3 p-0">
            <img
                class="card-img-top"
                src="https://i.ytimg.com/vi/skamb54dGl4/maxresdefault.jpg?sqp=-oaymwEmCIAKENAF8quKqQMa8AEB-AH-CYAC0AWKAgwIABABGH8gEygXMA8=&rs=AOn4CLALCMM-0crds7DdErFUcmUYaxL7Cw"
                alt="Card image cap"
            />
            <div class="card-body">
                <h3>
                    <a class="text-decoration-none" href="">Product title</a>
                </h3>
                <p class="card-text">
                    Some quick example text to build on the card title and make up the
                    bulk of the card's content.
                </p>
                <div class="d-flex flex-column gap-2">
                    <div class="d-flex align-items-center gap-2">
                        <b>
                            <small> Old price: </small>
                        </b>
                        <small class="text-decoration-line-through">
                            <b class="text-danger">$12.800</b>
                        </small>
                    </div>
                    <div class="d-flex align-items-center gap-2">
                        <b>
                            <small>Current price: </small>
                        </b>
                        <small class="">
                            <b class="text-success">$9.700</b>
                        </small>
                    </div>
                </div>
                <a
                    href="#!"
                    class="mt-2 w-100 d-flex align-items-center justify-content-center font-bold btn btn-warning"
                >
                    <i class="bi bi-cart-plus"></i>
                    Add to cart
                </a>
            </div>
        </div>
        <div class="card col-3 p-0">
            <img
                class="card-img-top"
                src="https://i.ytimg.com/vi/skamb54dGl4/maxresdefault.jpg?sqp=-oaymwEmCIAKENAF8quKqQMa8AEB-AH-CYAC0AWKAgwIABABGH8gEygXMA8=&rs=AOn4CLALCMM-0crds7DdErFUcmUYaxL7Cw"
                alt="Card image cap"
            />
            <div class="card-body">
                <h3>
                    <a class="text-decoration-none" href="">Product title</a>
                </h3>
                <p class="card-text">
                    Some quick example text to build on the card title and make up the
                    bulk of the card's content.
                </p>
                <div class="d-flex flex-column gap-2">
                    <div class="d-flex align-items-center gap-2">
                        <b>
                            <small> Old price: </small>
                        </b>
                        <small class="text-decoration-line-through">
                            <b class="text-danger">$12.800</b>
                        </small>
                    </div>
                    <div class="d-flex align-items-center gap-2">
                        <b>
                            <small>Current price: </small>
                        </b>
                        <small class="">
                            <b class="text-success">$9.700</b>
                        </small>
                    </div>
                </div>
                <a
                    href="#!"
                    class="mt-2 w-100 d-flex align-items-center justify-content-center font-bold btn btn-warning"
                >
                    <i class="bi bi-cart-plus"></i>
                    Add to cart
                </a>
            </div>
        </div>
        <div class="card col-3 p-0">
            <img
                class="card-img-top"
                src="https://i.ytimg.com/vi/skamb54dGl4/maxresdefault.jpg?sqp=-oaymwEmCIAKENAF8quKqQMa8AEB-AH-CYAC0AWKAgwIABABGH8gEygXMA8=&rs=AOn4CLALCMM-0crds7DdErFUcmUYaxL7Cw"
                alt="Card image cap"
            />
            <div class="card-body">
                <h3>
                    <a class="text-decoration-none" href="">Product title</a>
                </h3>
                <p class="card-text">
                    Some quick example text to build on the card title and make up the
                    bulk of the card's content.
                </p>
                <div class="d-flex flex-column gap-2">
                    <div class="d-flex align-items-center gap-2">
                        <b>
                            <small> Old price: </small>
                        </b>
                        <small class="text-decoration-line-through">
                            <b class="text-danger">$12.800</b>
                        </small>
                    </div>
                    <div class="d-flex align-items-center gap-2">
                        <b>
                            <small>Current price: </small>
                        </b>
                        <small class="">
                            <b class="text-success">$9.700</b>
                        </small>
                    </div>
                </div>
                <a
                    href="#!"
                    class="mt-2 w-100 d-flex align-items-center justify-content-center font-bold btn btn-warning"
                >
                    <i class="bi bi-cart-plus"></i>
                    Add to cart
                </a>
            </div>
        </div>
        <div class="card col-3 p-0">
            <img
                class="card-img-top"
                src="https://i.ytimg.com/vi/skamb54dGl4/maxresdefault.jpg?sqp=-oaymwEmCIAKENAF8quKqQMa8AEB-AH-CYAC0AWKAgwIABABGH8gEygXMA8=&rs=AOn4CLALCMM-0crds7DdErFUcmUYaxL7Cw"
                alt="Card image cap"
            />
            <div class="card-body">
                <h3>
                    <a class="text-decoration-none" href="">Product title</a>
                </h3>
                <p class="card-text">
                    Some quick example text to build on the card title and make up the
                    bulk of the card's content.
                </p>
                <div class="d-flex flex-column gap-2">
                    <div class="d-flex align-items-center gap-2">
                        <b>
                            <small> Old price: </small>
                        </b>
                        <small class="text-decoration-line-through">
                            <b class="text-danger">$12.800</b>
                        </small>
                    </div>
                    <div class="d-flex align-items-center gap-2">
                        <b>
                            <small>Current price: </small>
                        </b>
                        <small class="">
                            <b class="text-success">$9.700</b>
                        </small>
                    </div>
                </div>
                <a
                    href="#!"
                    class="mt-2 w-100 d-flex align-items-center justify-content-center font-bold btn btn-warning"
                >
                    <i class="bi bi-cart-plus"></i>
                    Add to cart
                </a>
            </div>
        </div>
        <div class="card col-3 p-0">
            <img
                class="card-img-top"
                src="https://i.ytimg.com/vi/skamb54dGl4/maxresdefault.jpg?sqp=-oaymwEmCIAKENAF8quKqQMa8AEB-AH-CYAC0AWKAgwIABABGH8gEygXMA8=&rs=AOn4CLALCMM-0crds7DdErFUcmUYaxL7Cw"
                alt="Card image cap"
            />
            <div class="card-body">
                <h3>
                    <a class="text-decoration-none" href="">Product title</a>
                </h3>
                <p class="card-text">
                    Some quick example text to build on the card title and make up the
                    bulk of the card's content.
                </p>
                <div class="d-flex flex-column gap-2">
                    <div class="d-flex align-items-center gap-2">
                        <b>
                            <small> Old price: </small>
                        </b>
                        <small class="text-decoration-line-through">
                            <b class="text-danger">$12.800</b>
                        </small>
                    </div>
                    <div class="d-flex align-items-center gap-2">
                        <b>
                            <small>Current price: </small>
                        </b>
                        <small class="">
                            <b class="text-success">$9.700</b>
                        </small>
                    </div>
                </div>
                <a
                    href="#!"
                    class="mt-2 w-100 d-flex align-items-center justify-content-center font-bold btn btn-warning"
                >
                    <i class="bi bi-cart-plus"></i>
                    Add to cart
                </a>
            </div>
        </div>
        <div class="card col-3 p-0">
            <img
                class="card-img-top"
                src="https://i.ytimg.com/vi/skamb54dGl4/maxresdefault.jpg?sqp=-oaymwEmCIAKENAF8quKqQMa8AEB-AH-CYAC0AWKAgwIABABGH8gEygXMA8=&rs=AOn4CLALCMM-0crds7DdErFUcmUYaxL7Cw"
                alt="Card image cap"
            />
            <div class="card-body">
                <h3>
                    <a class="text-decoration-none" href="">Product title</a>
                </h3>
                <p class="card-text">
                    Some quick example text to build on the card title and make up the
                    bulk of the card's content.
                </p>
                <div class="d-flex flex-column gap-2">
                    <div class="d-flex align-items-center gap-2">
                        <b>
                            <small> Old price: </small>
                        </b>
                        <small class="text-decoration-line-through">
                            <b class="text-danger">$12.800</b>
                        </small>
                    </div>
                    <div class="d-flex align-items-center gap-2">
                        <b>
                            <small>Current price: </small>
                        </b>
                        <small class="">
                            <b class="text-success">$9.700</b>
                        </small>
                    </div>
                </div>
                <a
                    href="#!"
                    class="mt-2 w-100 d-flex align-items-center justify-content-center font-bold btn btn-warning"
                >
                    <i class="bi bi-cart-plus"></i>
                    Add to cart
                </a>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center mt-5">
        <nav aria-label="...">
            <ul class="pagination">
                <li class="page-item disabled">
                    <a class="page-link text-dark" href="#" tabindex="-1">&laquo;</a>
                </li>
                <li class="page-item">
                    <a class="page-link text-dark" href="#">1</a>
                </li>
                <li class="page-item">
                    <a class="page-link bg-dark text-white" href="#"
                        >2 <span class="sr-only"></span
                    ></a>
                </li>
                <li class="page-item">
                    <a class="page-link text-dark" href="#">3</a>
                </li>
                <li class="page-item">
                    <a class="page-link text-dark" href="#">&raquo;</a>
                </li>
            </ul>
        </nav>
    </div>
</main>

{% endblock content  %}